@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	/* Spacing */
	--spacing-100: 8px;
	--spacing-200: 16px;
	--spacing-300: 24px;
	--spacing-400: 32px;
	--spacing-500: 40px;

	/* Colors */
	--colors-white: #ffffffff;
	--colors-black: #000000ff;
	--colors-purple-100: #f8eeffff;
	--colors-purple-600: #8b6990ff;
	--colors-purple-950: #301534ff;
	--colors-violet-600: #ad28ebff;

	/* Fonts */
	--font-family-base: 'Work Sans', sans-serif;
}

/* Type Styles */

.text-preset-1 {
	font-weight: 700;
	font-size: 56px;
	line-height: 66px;
	letter-spacing: 0px;
	color: var(--colors-purple-950);
}

.text-preset-2 {
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0px;
	font-weight: 500;
	color: var(--colors-purple-950);
}

.text-preset-3 {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0px;
	font-weight: 400;
	color: var(--colors-purple-600);
}

/* base */
body {
	min-height: 100vh;
	font-family: var(--font-family-base);
	background-color: var(--colors-purple-100);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* padding: var(--spacing-400); */
}

summary {
	cursor: pointer;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

summary::after {
	content: url('./assets/images/icon-plus.svg');
	padding-inline-start: var(--spacing-300);
}
details[open] summary::after {
	content: url('./assets/images/icon-minus.svg');
}
details p {
	margin-block-start: var(--spacing-300);
}

details {
	padding-block-end: var(--spacing-300);
}
details::details-content {
	block-size: 0;
	transition-property: block-size, content-visibility;
	transition-duration: 0.5s;
	transition-behavior: allow-discrete;
	overflow: hidden;
}

details[open]::details-content {
	block-size: auto;
	block-size: calc-size(auto);
}

/* FAQ Container */
.faq-container {
	padding: var(--spacing-500);
	background-color: var(--colors-white);
	border-radius: var(--spacing-200);
	width: 60vw;
	max-width: 900px;
	height: auto;
	margin: var(--spacing-400);
}

.faq-heading {
	display: flex;
	gap: var(--spacing-200);
	margin-block-end: var(--spacing-400);
}

.attribution {
	padding: var(--spacing-400);
	max-width: 60vw;
	text-align: center;
	font-size: 0.75rem;
}

.backgroud-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 30vh;
	background-image: url('./assets/images/background-pattern-desktop.svg');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

a {
	color: var(--colors-purple-600);
	text-decoration: none;
}
